.sponsors {

    color: white;
    margin-left: 20px;
    height: auto;
    width: auto;
    margin-left: 20px;
    /* border:2px solid red; */
    padding: 0;
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding-top: 20px;
 }
.photo{
    height: 10vw;
    width: 10vw;
    margin: 0px;
    border-radius: 20%;
}